* {
    font-family: sans-serif;
}

.alert-info {
    background-color: #cbfffe;
    width: auto;
    height: 50px;
    color: black;
    border: lightgray solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

li {
    background-color: lightgray;
    text-align: center;
    margin: .5em;
}

img {
    width: 100%;
    height: auto;
}

.sub-section {
    font-style: italic;
}

footer {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

@media screen and (min-width:500px) {
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
    }

    h1 {
        flex-direction: row;
        justify-content: flex-start;
    }
}