* {
    font-family: sans-serif;
}

.alert-info {
    background-color: #cbfffe;
    width: auto;
    height: 50px;
    color: black;
    border: lightgray solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    background-color: lightgray;
    text-align: center;
    padding: 1em;
    margin: .5em;
}

img {
    width: 100%;
    height: auto;
}

.sub-section {
    font-style: italic;
}

footer {
    padding-top: 2em;
}

@media screen and (min-width:500px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        float: left;
    }

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        background: none;
        row-gap: .5em;
    }
}